<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"><%= @pet_sitter.first_name %></h1>

        <h2></h2>
    </div>
</div>

    <%= link_to 'Homepage', root_path, class:" btn btn-outline-dark btn-sm" %> |
    <%= link_to 'Back', pet_sitters_path, class:" btn btn-outline-success btn-sm" %>

