<h1>THE PET SITTER CLUB</h1>

<h2>About us</h2>
<p> </p>

<%= link_to 'My profile', profile_path ,class:" btn btn-secondary btn-sm btn-block"%> 
<%= link_to 'Pet Sitters', pet_sitters_path, class:" btn btn-secondary btn-sm btn-block" %> 
<%= link_to 'Services', services_path, class:"btn btn-secondary btn-sm btn-block" %> 
<%= link_to 'Orders', orders_path, class:"btn btn-secondary btn-sm btn-block" %>
