<h1>ORDERS</h1>

<% @orders.each do |order| %>
    <div class="card border-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header bg-transparent border-secondary"><%= order.id %></div>
        <div class="card-header bg-transparent border-secondary"><%= order.date %></div>
        <div class="card-header bg-transparent border-secondary">
          <% if current_user.client? %>
            client
          <% else %>
            pet sitter
          <% end %>
        </div>

        <div class="card-body">
            <%= link_to 'Show', order_path(order.id), class:"card-link btn btn-outline-primary btn-sm" %> |
        </div>

    </div>
<% end %>
